* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: arial, sans-serif;
}

.container {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links__container {
  display: flex;
  align-items: center;
}

.contenedores__container {
  display: flex;
  margin: 0 10px;
  align-items: center;
}

.contenedores__container:nth-child(2) {
  margin: 0 30px 0 0;
}
.item-link__container:nth-child(2) {
  margin: 0 0 0px 0;
}
.contenedores__container:nth-child(2) .item-link__container:nth-child(2) {
  margin: 0 0 0 10px;
}

.item-link__container {
  margin: 0 10px;
  font-size: 13px;
}
.item-link__container > a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

.item-link__container > a:hover{
    text-decoration: underline;
}

.item-link__container>.sombrita{
}

.item-link__container svg {
  height: 24px;
  border-radius: 50%;
}
.item-link__container img {
  height: 32px;
  border-radius: 50%;
}
